*{
  box-sizing: border-box;
}
a{
  display: block;
  text-decoration: none;
  color: black;
}
/* header{
  display: flex;
  justify-content: center;
} */
.header_item_parent{
  border-bottom: 1px solid black;
}
.header_item {
  width: 1100px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
.header_item ul{
  display: flex;
  position: relative;
}
.header_item ul a{
  padding: 10px;
  font-size: 10px;
}
.header_item ul li::after{
  content: "";
  display: block;
  width: 1.2px;
  height: 15px;
  background-color: grey;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}
.header_item ul li:first-child::after{
  display: none;
}

.header_main{
  width: 1100px;
  margin: 0 auto;
  display: flex;
  position: relative;
  justify-content: space-between;
}
.header_main img.health_left{
  width: 215px;
  height: 53px;
  margin: auto 0;
}

.header_main .search_center{
  display: flex;
  position: relative;
  flex-wrap: wrap;
  width: 416px;
}
.header_main .search_center_text{
  width: 100%;
  position: relative;
  display: flex;
  margin-top: 15px;
} 
.header_main .search_center_text input{
  border: 2px solid black;
  width: 100%;
  padding: 10px;
  position: absolute;
}
.header_main .search_center_text img{
  top: 3px;
  right: 0;
  position: absolute;
}
.header_main ul.search_center_sub{
  display: flex;
  font-size: 10px;
  position: relative;
  margin-top: 5px;
}
.header_main .search_center_sub li+li {
  margin-left: 10px;
}
.header_main .search_center_sub a::after{
  position: absolute;
  content: "";
  width: 1px;
  height: 10px;
  background-color: grey;
  margin-left: 4px;
}
.header_main .search_center_sub li:last-child a::after{
  display: none;
}

.header_category{
  width: 100%;
  height: 48px;
  background-color: black;
  font-weight: 700;
  font-size: 20px;
  display: flex;
}
.header_category ul{
  width: 1100px;
  margin: 0 auto;
  display: flex;
}
.header_category ul li{
  margin: auto;
  position: relative;
  /* display: flex; */
}
/* .header_category ul li::before{
  position: absolute;
  content: "";
  width: 1px;
  height: 48px;
  margin: auto;
} */
.header_category ul li a{
  color: white;
}
.header_category .btn-hamburger{
  font-size: 20px;  
  color: white;
}
.header_category .category:hover + .sub_menu{
  display: block;
}
.header_category .sub_menu{
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: white;
  display: none;
  width: 100%;
  font-size: 13px;
  margin-top: 11px;
  border: 3px solid black;
}
.header_category .sub_menu a{
  color: black;
  padding: 11px;
}


/* screen */
.screen {
  height: 600px;
  display: flex;
  justify-content: center; /* 슬라이드 수평 가운데 정렬 */
  position: relative; /* 페이지네이션 요소 배치를 위해 */
  overflow: hidden;
  transition: height 0.4s;
}
.screen.hide {
  /* display: none;  */
  height: 0;
}
.screen .swiper{
  /* 이미지(819px) 슬라이드 3개 + 사이 여백(10px) 2개 = 2477px */
  /* width: 2477px; */
  width: 1920px;
  /* calc라는 계산기로도 계산가능 */
  /* 활용 예시 : width : calc(100%-120px); */
  height: 600px;
  flex-shrink: 0;
  /* Flex.Item 인 .swiper가 2477px을 유지하기 위해 감소 너비 비율을 0으로 */
}

.screen .swiper-slide {
  transition: opacity 1s;
  position: relative;
}
.screen .swiper-slide-active {
  /* 모든 슬라이드를 반투명하게, active 한 것만 불투명하게 */
  opacity: 1;
}
/* .screen .swiper-slide .btn {
  position: absolute;
  bottom: 0;
  Quiz: absolute 요소의 수평 가운데 배치
  left: 0;
  right: 0;
  margin: 0 auto;
} */
.screen .swiper-pagination{
  position: absolute;
  bottom: 40px;
  /* 헤더의 z-index가 9이기 때문에 1로 덮어씌움
    아니면 헤더를 10보다 크게 해도 됨.
  */
  z-index:1;
}

.screen .swiper-pagination .swiper-pagination-bullet{
  /* 기존 배경색은 투명하게 숨기고, 배경 이미지를 사용 */
  background-color: transparent;
  background-image: url('/image/promotion_slide_pager.png');
  width: 13px;
  height: 12px;
}
.screen .swiper-pagination .swiper-pagination-bullet-active{
  background-image: url('/image/promotion_slide_pager_on.png');
}
/* 다중 선택으로 공통 스타일 지정 */
.screen .swiper-button-prev,
.screen .swiper-button-next{
  width: 50px;
  height: 47px;
  /* border: 2px solid #333; */
  /* border-radius: 50%; */
  position: absolute;
  top: 300px;
  z-index: 1;
  color: #333;
  transition: 0.5s;
}
/* .screen .swiper-button-prev{
  가운데로 몰아넣고 마진으로 위치 조정 */
  /* left: 50%; */
  /* margin-left: -480px;
}
.screen .swiper-button-next{
  가운데로 몰아넣고 마진으로 위치 조정
  right: 50%;
  margin-right: -480px;
} */
.screen .swiper-button-prev:hover,
.screen .swiper-button-next:hover{
  background-color: #333;
  color: #fff;
}
.screen .swiper-button-next::after,
.screen .swiper-button-prev::after{
  display: none;
}