*{
  box-sizing: border-box;
}
a{
  display: block;
  text-decoration: none;
  color: black;
}
/* header{
  display: flex;
  justify-content: center;
} */

/* Close 이미지라인 */
header ul.header_top {
  width: 100%;
}
header .header_top li{
  width: 1920px;
  margin: 0 auto; 
} 

/* 위의 상단 버튼라인 */
.header_item_parent{
  border-bottom: 1px solid black;
}
.header_item {
  width: 1100px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
.header_item ul{
  display: flex;
  position: relative;
}
.header_item ul a{
  padding: 10px;
  font-size: 10px;
}
.header_item ul li::after{
  content: "";
  display: block;
  width: 1.2px;
  height: 15px;
  background-color: grey;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}
.header_item ul li:first-child::after{
  display: none;
}


/* 중간 메인 라인 */
.header_main{
  width: 1100px;
  margin: 0 auto;
  display: flex;
  position: relative;
  justify-content: space-between;
}
.header_main img.health_left{
  width: 215px;
  height: 53px;
  margin: auto 0;
}

.header_main .search_center{
  display: flex;
  position: relative;
  flex-wrap: wrap;
  width: 416px;
}
.header_main .search_center_text{
  width: 100%;
  position: relative;
  display: flex;
  margin-top: 15px;
} 
.header_main .search_center_text input{
  border: 2px solid black;
  width: 100%;
  padding: 10px;
  position: absolute;
}
.header_main .search_center_text img{
  top: 3px;
  right: 0;
  position: absolute;
}
.header_main ul.search_center_sub{
  display: flex;
  font-size: 10px;
  position: relative;
  margin-top: 5px;
}
.header_main .search_center_sub li+li {
  margin-left: 10px;
}
.header_main .search_center_sub a::after{
  position: absolute;
  content: "";
  width: 1px;
  height: 10px;
  background-color: grey;
  margin-left: 4px;
}
.header_main .search_center_sub li:last-child a::after{
  display: none;
}


/* 카테고리라인 */
.header_category{
  width: 100%;
  height: 48px;
  background-color: black;
  font-weight: 700;
  font-size: 20px;
  display: flex;
}
.header_category ul{
  width: 1100px;
  margin: 0 auto;
  display: flex;
}
.header_category ul li{
  margin: auto;
  position: relative;
  /* display: flex; */
}
/* .header_category ul li::before{
  position: absolute;
  content: "";
  width: 1px;
  height: 48px;
  margin: auto;
} */
.header_category ul li a{
  color: white;
}
.header_category .btn-hamburger{
  font-size: 20px;  
  color: white;
}
.header_category .category:hover + .sub_menu{
  display: block;
}
.header_category .sub_menu{
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: white;
  display: none;
  width: 100%;
  font-size: 13px;
  margin-top: 11px;
  border: 3px solid black;
}
.header_category .sub_menu a{
  color: black;
  padding: 11px;
}


/* Screen */
.screen {
  height: 600px;
  display: flex;
  justify-content: center; /* 슬라이드 수평 가운데 정렬 */
  position: relative; /* 페이지네이션 요소 배치를 위해 */
  overflow: hidden;
  transition: height 0.4s;
}
.screen .swiper{
  /* 이미지(819px) 슬라이드 3개 + 사이 여백(10px) 2개 = 2477px */
  /* width: 2477px; */
  width: 1920px;
  /* calc라는 계산기로도 계산가능 */
  /* 활용 예시 : width : calc(100%-120px); */
  height: 600px;
  flex-shrink: 0;
  /* Flex.Item 인 .swiper가 2477px을 유지하기 위해 감소 너비 비율을 0으로 */
}
.screen .swiper-slide {
  transition: opacity 1s;
  position: relative;
}
.screen .swiper-pagination{
  position: absolute;
  bottom: 40px;
  /* 헤더의 z-index가 9이기 때문에 1로 덮어씌움
    아니면 헤더를 10보다 크게 해도 됨.
  */
  z-index:1;
}
.screen .swiper-pagination .swiper-pagination-bullet{
  /* 기존 배경색은 투명하게 숨기고, 배경 이미지를 사용 */
  background-color: transparent;
  background-image: url('/image/promotion_slide_pager.png');
  width: 13px;
  height: 12px;
}
.screen .swiper-pagination .swiper-pagination-bullet-active{
  background-image: url('/image/promotion_slide_pager_on.png');
}
/* 다중 선택으로 공통 스타일 지정 */
.screen .swiper-button-prev,
.screen .swiper-button-next{
  width: 50px;
  height: 47px;
  /* border: 2px solid #333; */
  /* border-radius: 50%; */
  position: absolute;
  top: 300px;
  z-index: 1;
  color: #333;
  transition: 0.5s;
}
.screen .swiper-button-prev:hover,
.screen .swiper-button-next:hover{
  background-color: #333;
  color: #fff;
}
.screen .swiper-button-next::after,
.screen .swiper-button-prev::after{
  display: none;
}



/* YOUTUBE amd Img */
.img_youtube {
  display: flex;
  justify-content: center;
  font-size: 24px;
  font-weight: bold;
  margin-top: 100px;
}
.img_youtube .pick_img img{
  width: 533px;
}
.img_youtube h3 {
  padding: 30px 0px;
}
.img_youtube .youtube__area{
  width: 533px;
  margin-left: 15px;
}

/* TODAY 추천상품 */
.todayitem{
  margin: auto;
  width: 1100px;
  margin-top: 200px;
}
.todayitem .todayitem_top{
  text-align: center;
  margin: 100px auto;
}
.todayitem .todayitem_top h1{
  font-size: 24px;
  font-weight: bold;
}
.todayitem .todayitem_top h3{
  font-size: 15px;
  opacity: 0.5;
  margin-top: 9px;
}
.todayitem nav{
  display: flex;
  border: 1px solid grey;
}
.todayitem .todayitem_left{
  width: 75%;
  position: relative;
  /* background-color: wheat; */
}
.todayitem .todayitem_right{
  width: 25%;
  border-left: 1px solid grey;
}
.todayitem .todayitem_title{
  width: 100%;
  display: flex;
  border-bottom: 1px solid black;
  background-color: #dedede;
}
.todayitem .todayitem_title li{
  margin: 15px auto;
  font-size: 12px;
}
.flexpurpose{
  display: flex;
}
.todayitem_subtitle_parent{
  margin-top: 25px;
}
.todayitem_subtitle_best,
.todayitem_subtitle_newitem,
.todayitem_subtitle_recommand{
  display: none;
}
.todayitem_subtitle{
  width: 33.33%;
  padding: 20px;
}
.todayitem_subtitle .item_brand{
  font-size: 12px;
  font-weight: bold;
  color: #888;
  margin:5px 0;
  overflow: hidden;
}
.todayitem_subtitle .item_name{
  color: #222;
  font-size: 15px;
  font-weight: bold;
  margin:10px 0;
  overflow: hidden;
}
.todayitem_subtitle .item_ingredient{
  color: #999;
  font-size: 12px;
  overflow: hidden;
  margin: 5px 0;
}
.todayitem_subtitle li:last-child{
  border-top: 1px solid grey;
  margin: 10px 0;
  padding-top: 15px;
  display: flex;
}
.sale_text{
  background-color: limegreen;
  color: white;
  padding: 5px;
  font-size: 12px;
}
.sale_price{
  width: 60%;
}
.sale_price_cost{
  font-size: 12px;
}
.sale_price_salecost{
  font-size: 17px;
}
.todayitem_subtitle_best.active,
.todayitem_subtitle_newitem.active,
.todayitem_subtitle_recommand.active{
  display: block;
}


/* 원하는대로 원하는만큼 구매주소 링크 이미지 */
.wishimg{
  width: 100%;
}
.wishimg .wishimg_centerpurpose{
  width: 1920px;
  margin: 200px auto;
}


/* 전제품 */

